<div class="main-container">
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item routerLink="/">Home</button>
    <button mat-menu-item routerLink="/game">Game</button>
    <button mat-menu-item *ngIf="!(afAuth.authState | async)" routerLink="/login">Login</button>
    <button mat-menu-item *ngIf="(afAuth.authState | async)" (click)="afAuth.auth.signOut()">Logout</button>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <ng-content></ng-content>
</div>