<main>
  <div *ngIf="!(afAuth.authState | async)">
    <h1>Login</h1>

    <button mat-raised-button appGoogleSignin>
      <img src="../../../assets/google-logo.svg" /> Login with Google
      </button>
      <br />
  </div>

  <div *ngIf="afAuth.authState | async as user" class="logout">
    <p>
      Logged in as <strong>{{ user.email }}</strong>
    </p>

    <button mat-stroked-button (click)="afAuth.auth.signOut()">Logout</button>
    <br />
  </div>

  <br />
  <app-email-login *ngIf="!(afAuth.authState | async)"></app-email-login>
</main>