<div layout="column">
  
  <h1>My Games</h1>
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="games"
    (cdkDropListDropped)="drop($event)"
  >
  
    <mat-nav-list>
      <a mat-list-item href="game/{{game.id}}" *ngFor="let game of games"> {{ game.title }} </a>
    </mat-nav-list>
    

    <br/>
    <div class="game-button">
      <button
        mat-raised-button
        color="accent"
        cdkDragDisabled
        (click)="openGameDialog()"
      >
        New Game
      </button>
      <br/>
    </div>
  </div>
</div>