.gift-tile {
  // background-color: rgba(0,0,0,.01);
  background-color: #ecf0f1;
  box-shadow: 3px 3px rgba(0,0,0,.09);
}
.mat-grid-tile .gift-description {
  font-size: 18px;
  text-align: center;
  margin: 14px;
  padding-bottom: 32px !important;
}
.mat-grid-tile .gift-description .content {
  
}
.mat-grid-tile .gift-description .participant {
  color: #7f8c8d;
  padding-top: 10px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
.mat-grid-tile .mat-grid-tile-footer {
  text-align: center;
  color: #333;
  background-color: #bdc3c7;
}
.stolen {
  color: #c0392b;
}

.gift-edit {
  cursor: pointer;
}
// *********************** unavailable

.gift-tile.unavailable-gift {
  // background-color: rgba(0,0,0,.21);
  background-color: #95a5a6;
}

.mat-grid-tile.unavailable-gift .gift-description {
  color: #ecf0f1;
}
.mat-grid-tile.unavailable-gift .gift-description .participant {
  color: #666;
}

.mat-grid-tile.unavailable-gift .mat-grid-tile-footer {
  background-color: #7f8c8d;
}
.gift-tile.unavailable-gift .stolen {
  color: #c0392b;
}





button.new-gift {
  position: fixed;
   right: 50px;
   bottom: 50px;

}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-icon-button .mat-icon {
  color: #999;
}

.giftIcon {
  font-size: 24px !important;
}

.emptyState {
  text-align: center;
  margin-top: 60px;
}
.emptyCard {
  background-color: rgba(0,0,0,.03);
  box-shadow: 6px 6px rgba(0,0,0,.09);
  width: 50%;
  margin: 0 auto;
  padding: 50px;
}
.emptyState h1 {
  margin-bottom: 10px;
}