<h1> {{ theGame?.title }}</h1>

<div class="emptyState" *ngIf="theGame?.gifts.length < 1">
    <div class="emptyCard">
      <h1 class="mat-display-3">Unwrap the first gift!</h1>
      <button mat-fab mat-stroked-button (click)="openDialog()" class="first-gift">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

<mat-grid-list cols="{{ size$ | async }}" gutterSize="20px" rowHeight="200px">
  
  <!-- Tile -->
  <mat-grid-tile class="gift-tile class.mat-elevation-z8" 
    [ngClass]="{'unavailable-gift': gift.steals > 2}"
    *ngFor="let gift of theGame?.gifts; let i = index">
    <div class="gift-description" (click)="openDialog(gift, i)">
      <a (click)="openDialog(gift, i)" class="gift-edit">
        <span class="content">{{ gift.description }}</span>
        <br/>
        <span class="participant">{{ gift.participant }}</span>
      </a>
      <br/>
      <br/>
    </div>    
    <mat-grid-tile-footer>
      <div *ngIf="gift.steals < 3">
        <mat-icon [ngClass]="{'stolen': gift.steals > 0, 'giftIcon': true}">card_giftcard</mat-icon>&nbsp;
        <mat-icon [ngClass]="{'stolen': gift.steals > 1, 'giftIcon': true}">card_giftcard</mat-icon>&nbsp;
        <mat-icon [ngClass]="{'stolen': gift.steals > 2, 'giftIcon': true}">card_giftcard</mat-icon>
      </div>
      <p *ngIf="gift.steals > 2">Gift Unavailable</p>
      <span class="example-fill-remaining-space"></span>
      <button mat-button color="primary" 
          (click)="stealGift(gift, i)" class="steal-button"
          *ngIf="gift.steals < 3">STEAL</button>
    </mat-grid-tile-footer>
  </mat-grid-tile>

</mat-grid-list>



<button mat-fab mat-stroked-button (click)="openDialog()" class="new-gift">
  <mat-icon>add</mat-icon>
</button>